@import 'variable.scss';
@import 'header.scss';
@import 'navigation.scss';
@import 'slider.scss';
@import 'page.scss';
@import 'footer.scss';
* {
    outline: 0 none;
}

body {
    padding-top: 90px;
    @media (min-width: 768px) {
        padding-top: 135px;
    }
}

.container {
    @media (max-width: 1200px) {
        max-width: 1200px;
        width: 100%;
    }
}